apiVersion: apps/v1
kind: Deployment
metadata:
  name: dev-app
  namespace: dev-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dev-app
  template:
    metadata:
      labels:
        app: dev-app
    spec:
      containers:
      - name: dev-container
        image: ondrejnr1/dev-app:latest # Replace with your real image tag if different
        ports:
        - containerPort: 80
