apiVersion: v1
data:
  alertmanager.yml: |
    global:
      resolve_timeout: 5m

    route:
      group_by: ['alertname']
      group_wait: 10s
      group_interval: 10s
      repeat_interval: 1h
      receiver: 'webhook'

    receivers:
      - name: 'webhook'
        webhook_configs:
          - url: 'http://localhost:5001/'
            send_resolved: true
kind: ConfigMap
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"v1","data":{"alertmanager.yml":"global:\n  resolve_timeout: 5m\n\nroute:\n  group_by: ['alertname']\n  group_wait: 10s\n  group_interval: 10s\n  repeat_interval: 1h\n  receiver: 'webhook'\n\nreceivers:\n  - name: 'webhook'\n    webhook_configs:\n      - url: 'http://localhost:5001/'\n        send_resolved: true\n"},"kind":"ConfigMap","metadata":{"annotations":{},"name":"alertmanager-config","namespace":"monitoring"}}
  creationTimestamp: "2026-02-24T03:21:33Z"
  name: alertmanager-config
  namespace: monitoring
  resourceVersion: "643"
  uid: b0170c05-b24e-4cb2-abbf-fb00db398075
