---
- name: Patch Ingress Controller for Prometheus Metrics
  hosts: all
  become: false
  tasks:
    - name: Enable metrics and annotations on Ingress Controller
      kubernetes.core.k8s:
        state: patched
        kind: Deployment
        name: ingress-nginx-controller
        namespace: ingress-nginx
        definition:
          spec:
            template:
              metadata:
                annotations:
                  prometheus.io/scrape: "true"
                  prometheus.io/port: "10254"
                  prometheus.io/scheme: "http"
              spec:
                containers:
                - name: controller
                  args:
                    - /nginx-ingress-controller
                    - --publish-service=$(POD_NAMESPACE)/ingress-nginx-controller
                    - --election-id=ingress-controller-leader
                    - --controller-class=k8s.io/ingress-nginx
                    - --configmap=$(POD_NAMESPACE)/ingress-nginx-controller
                    - --enable-metrics # This is the magic flag
