name: Environment Backup to Docker Hub

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Backup Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # This saves it as 'dev-environment-backup:latest'
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/dev-environment-backup:latest
